<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda barbero</title>
    <link rel="shortcut icon" href="/PagInicio/ImagesPagInicio/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/usuario/styles/verAgendaBarbero.css">
</head>
<body>

    <header>
        <nav>
            <div class="logo">Jardin's Barber</div>
            <div class="menu">
                <ul>
                    <li><a href="/index">Inicio</a></li>
					<li><a href="/usuario/datosUsuario">Perfil</a></li>
                    <li><a href="/borrarCookies" class="cerrar">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <input type="text" hidden id="idBarber" value="<%=barbero.idBarber%>">
    <input type="text" hidden id="everything" value="<%=JSON.stringify(citas)%>">
    <input type="text" hidden id="idUser" value="<%=idUserSession%>">
    <input type="text" id="current" hidden value="Selecciona una fecha">

    <%if(!state){%>
        <div class="mensaje-nta">
            <h2>Barbero Sin Agenda</h2>
            <h1>Te puedes comunicar con <%=barbero.nameBarber%> a través.</h1>

            <div class="conte-datos">
                <label for="">Telefono</label>
                <h1><%=barbero.phoneBarber%></h1>
            </div>

            <div class="conte-datos">
                <label for="">Correo</label>
                <h1><%=barbero.emailBarber%></h1>
            </div>
        </div>
    <%}else{%>
        <div class="contenedor">
            <div class="contenedor-fecha">
                <h2>Fechas Disponibles</h2>
                <ul id="fechaList">
                    <%citas.forEach(set=>{%>
                        <li data-key="<%=set.fecha%>" class="dia"><%=set.fecha%></li>
                    <%});%>
                </ul>
            </div>
            <div class="agenda">
                <h2 class="tituloFecha">Selecciona una fecha</h2>
                <div class="agenda-container">
                </div>
            </div>
        </div>
    <%};%>
    
</body>
<script src="/moment.js"></script>
<script src="/usuario/JS/jquery-3.7.1.js"></script>
<script src="/usuario/JS/despliegueCitas.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/usuario/JS/logicaTiempoReal.js"></script>
</html>