<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Contraseña</title>
    <link rel="shortcut icon" href="/PagInicio/ImagesPagInicio/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/barbero/styles/cambiarPassword.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Jardin's Barber</div>
            <div class="menu">
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a  href="/barbero/verAgenda" >Agenda</a></li>
                    <li><a href="/barbero/datosBarbero">Perfil</a></li>
                    <li><a href="/borrarCookies" class="cerrar">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="contenedor">
        <h2>Actualizar Contraseña</h2>
        <form action="">
            <input id="idBarber" type="number" hidden disabled  value="<%=idBarber%>">

            <input id="nameBarber" placeholder="Nombre" hidden type="text" value="<%=nameBarber%>">

            <input id="phoneBarber" placeholder="Numero de telefono" hidden type="text" value="<%=phoneBarber%>">

            <input id="emailBarber" disabled placeholder="Correo electronico" hidden type="email" value="<%=emailBarber%>">

            <input id="descriptionBarber" type="text" disabled placeholder="Descripcion" hidden type="text" value="<%=descriptionBarber%>">

            <input id="profilePicture" type="text" hidden disabled  value="<%=profilePicture%>">

            <input id="role" type="text" hidden disabled value="<%=role%>" >

            <div class="actua">
                <label for="">Nueva Contraseña:</label>
                <input id="passwordBarber" type="password" required>
            </div>    

            <div class="actua">
                <label for="">Confirmar Contraseña:</label>
                <input id="passwordBarberConfirm" type="password" >
            </div>

            <div class="actua">
                <button >Actualizar</button>
            </div>
        </form>
        <p id="message"></p>
    </div>    

    <footer id="pieDePagina">
        <div id="footerBloque1">
            <p>Cra. 4 #7 - 73, Jardín, Antioquia</p>
            <p>Cel: 322-4567856</p>
        </div><br>
        
        <div id="footerBloque2">
            <p>Jardín-Antioquia</p>
            <p>jardinsbarber@gmail.com</p>
            <p style="font-weight: bold;">Jardin's Barber</p>
            <div id="footerIcons">
                <p><i class="fa-brands fa-facebook"></i></p>
                <p><i class="fa-brands fa-instagram"></i></p>
            </div>
        </div>
    </footer>

</body>
<script src="https://kit.fontawesome.com/18096fdcd6.js" crossorigin="anonymous"></script>
<script src="/admin/JS/jquery-3.7.1.js"></script>
<script src="/barbero/JS/actualizarPassword.js"></script>
</html>