<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/styles/verBarberos.css">
    <link rel="shortcut icon" href="/PagInicio/ImagesPagInicio/favicon.png" type="image/x-icon">

</head>
<body>
    
    <header>
        <nav>
            <div class="logo">Jardin's Barber</div>
            <div class="menu">
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/admin/verAgenda">Agenda</a></li>
					<li><a href="/admin/barberos">Barberos</a></li>
                    <li><a href="/admin/datosAdmin">Perfil</a></li>
                    <li><a href="/borrarCookies" class="cerrar">Cerrar sesión</a></li>
                </ul>
            </div>
        </nav>
    </header>



    <div class="conte-perfil">
        <img src="<%= data.profilePicture == "" ? "http://3.144.244.103/images/same/profile.png" : "http://3.144.244.103/images/" + data.idBarber + "/" + data.profilePicture %>" alt="" width="50px" height="50px">
        <div class="conte-datos">
            <label>Nombre</label>
            <h1 class="value"><%=data.nameBarber%></h1>    
        </div>

        <div class="conte-datos">
            <label for="">Telefono</label>
            <h1 class="value"><%=data.phoneBarber%></h1>    
        </div>

        <div class="conte-datos">
            <label>Correo</label>
            <h1 class="value"><%=data.emailBarber%></h1>    
        </div>

        <div class="conte-datos">
            <label for="">Descripcion</label>
            <textarea name="" id="desc"><%=data.descriptionBarber%></textarea>
        </div>

    </div>

    <script>
        let area = document.getElementById('desc').style.resize = "none";
    </script>



    <footer id="pieDePagina">
        <div id="footerBloque1">
            <p>Cra. 4 #7 - 73, Jardín, Antioquia</p>
            <p>Cel: 322-4567856</p>
        </div><br>
        
        <div id="footerBloque2">
            <p>Jardín-Antioquia</p>
            <p>jardinsbarber@gmail.com</p>
            <p style="font-weight: bold;">Jardin's Barber</p>
            <div id="footerIcons">
                <p><i class="fa-brands fa-facebook"></i></p>
                <p><i class="fa-brands fa-instagram"></i></p>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/18096fdcd6.js" crossorigin="anonymous"></script>

</body>
</html>